.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    overflow-y: scroll;
  }
  .Chat {
    margin: 1rem 0;
    color: #fff;
    padding: 1rem;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    max-width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background 0.5s;
    position: relative;
  }
  .Chat.is-user-msg {
    margin-left: auto;
    background: #2b2c33;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .Chat.is-editing {
    background: #21B6A8;
  }
  .Chat .delete {
    position: absolute;
    top: -12px;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    padding: 5px 10px;
    border-radius: 50%;
    left: -15px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .Chat.is-user-msg:hover .delete {
    pointer-events: unset;
    opacity: 1;
    cursor: pointer;
  }
  
  @media (min-width: 576px) {
    .Chat {
      max-width: 60%;
    }
  }


/* Animation */

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

  .message-enter-active {
    animation: bounceInUp 800ms ;

  }
  .message-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
  .message-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
    transition: all 800ms ease-out;
  }