.Header {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    display: flex;
    justify-content: space-between;
  }
  .Header__name {
    color: #fff;
  }

.profilePic {
  border-radius: 50%;
  height: 100px;
}

@media (max-width: 800px) {
  .profilePic {
    height: 50px;
  }
}